.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.main-content {
  flex-grow: 1;
}

.sidebar {
  width: 400px;
  margin-left: 1rem;
}
